body {
      background-color: rgb(133, 215, 236);
}
    .bottom-locked {
    position: fixed;
    left: 0px;
    bottom: 0px;
  }
  .cafe-door {
    position: fixed;
    left: 825px;
    bottom: 255px;
  }
  .arcade-door {
    position: fixed;
    left: 0px;
    bottom: 255px;
  }
  .house-door {
    position: fixed;
    left: 1690px;
    bottom: 255px;
  }
