* {
    box-sizing: border-box;
}
html {
    height: 100%;
}
@font-face {
    font-family: "Poppins";
    src: url("https://fonts.googleapis.com/css2?family=Poppins");
}
body {
    position: relative;
    width: 1920px;
    height: 1080px;
    font-family: "Poppins", Arial;
    margin: 0;
    overflow: hidden;
}
#content {
    position: fixed;
    bottom: 0;
    width: 1920px;
    height: 1080px;
}
.absolute {
    position: absolute;
}
.bottom-locked {
    left: 0px;
    bottom: 0px;
}
.back-button {
    position: fixed;
    right: 5px;
    top: 10px;
    width: 100px;
}
.absolute img {
    vertical-align: bottom;
}

#mobile-content {
    display: none;
}
.error {
    text-align: center;
    font-size: 20px;
}
.error img {
    display: block;
    margin: 0 auto;
}

@media screen and (pointer: coarse) {
        .cursor {
            display: none;
        }
}
@media screen and (max-width: 480px) {

        body {
            width: auto;
            background-color: rgb(236 227 133) !important;
        }

        #mobile-content {
            display: unset;
        }
        #content,
        .back-button {
            display: none;
        }
}