* {
    box-sizing: border-box;
}
html {
    height: 100dvh;
}
body {
    min-height: 100dvh;
    font-family: "Poppins";
    margin: 0;
}
#content {
    position: absolute;
    bottom: 0;
    overflow: auto;
    width: 1920px;
    height: 1080px;
    transform: scaleX(100vw / 1920px) scaleY(100vh / 1080px);
}
.absolute {
    position: absolute;
}
.bottom-locked {
    left: 0px;
    bottom: 0px;
}
footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px black;
}
.back-button {
    position: fixed;
    right: 5px;
    top: 10px;
    width: 100px;
}
.absolute img {
    vertical-align: bottom;
}

#mobile-content {
    display: none;
}

@media screen and (pointer: coarse) {
        .cursor {
            display: none;
        }
}

@media screen and (max-width: 480px) {
        #mobile-content {
            display: block;
        }
        #content {
            display: none;
        }
}
.test {
    position: absolute;
    bottom: 0;
}

